/* GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #128C7E 0%,
        #128C7E 15%,
        #DBDFDE 15%,
        #DBDFDE 100%
    );
}

.app-container {
    height: 90%;
    width: 80%;
    min-width: 900px;
    background-image: url(../img/mine.jpg);
}

input[type="text"] {
    flex-grow: 1;
    padding-left: 10px;
}
input[type="text"]::placeholder {
    color: #A8A8A8;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

i {
    font-size: 1.5rem;
}

/* UTILITIES */
/* layout */
.flex {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row-y-center {
    display: flex;
    align-items: center;
}

.flex-row-x-y-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* user layout */
.user {
    display: flex;
    align-items: center;
}

.user .avatar {
    height: 60px;
    width: 60px;
    margin-right: 15px;
    border-radius: 50%;
    overflow: hidden;
}
.avatar img {
    height: 100%;
    width: 100%;
    object-fit: contain;

}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}
.user .last-access {
    font-size: 0.8rem;
    color: #777E81;
}
.menu a {
    margin-right: 16px;
}

.menu i {
    color: #BABABA;
}

/* LEFT SIDEBAR CONTENT */
aside.left-sidebar {
    flex-basis: 35%;
    margin-right: 1px;

}

/* notification */
.notification {
    padding: 10px 20px;
    background-color: #A5DEFC;
}

.notification > div:first-of-type {
    margin-right: 10px;
    height: 50px;
    width: 50px;
    color: #A5DEFC;
    background-color: #F5FBFF;
    border-radius: 50%;
}

.notification > div:nth-child(2) a {
    font-size: 0.9rem;
    text-decoration: underline;
    color: #607F90;
}

/* search */
.search {
    padding: 8px;
    background-color: #FBFBFB ;
}

.search > * {
    height: 34px;
    background-color: #fff;
    border: 1px solid #F7F7F7;
}
.search button {
    width: 74px;
    color: #BABABA;
}

/* chats list */

.all-chats {
    flex-grow: 1;
    overflow-y: auto;
    background-color: #fff;
}


.chats-list > .user {
    padding: 10px 20px;
    border-bottom: 1px solid #F6F6F6;
}
.chats-list > .user:last-of-type {
    border-bottom: none;
}

/* MAIN CHAT CONTENT */
.chat-container {
    flex-grow: 1;
}

.chat-container .open-chat {
    flex-grow: 1;
    padding: 56px 56px 0 99px;
    overflow-y: auto;
}

.open-chat .message {
    position: relative;
    width: 320px;
    margin-bottom: 10px;
    padding: 18px 16px;
    border-radius: 15px;
}

.open-chat .message.sent {
    align-self: flex-end;
    background-color: #DEF9C2;
}

.open-chat .message.received {
    background-color: #ffffff;
}

.message > .message-details {
    position: absolute;
    right: 5px;
    font-size: 0.5rem;
    color: #C0C3C5;
}
/* section typing */
.typing {
    flex-basis: 70px;
    flex-shrink: 0;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.5);
}

.typing  * {
    border: none;
}

.typing div {
    width: 100px;
    text-align: center;
}

.typing button {
    color: #777E81;
    background-color: transparent;
}

.typing input {
    height: 100%;
    border-radius: 10px;
}