/* GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
        to bottom,
        #128C7E 0%,
        #128C7E 15%,
        #DBDFDE 15%,
        #DBDFDE 100%
    );
}

.app-container {
    display: flex;
    height: 90%;
    width: 80%;
    min-width: 900px;
    background-image: url(../img/mine.jpg);
}


header {
    background-color: rgba(255, 255, 255, 0.7);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

.avatar {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.avatar img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    overflow: hidden;

}

/* LEFT SIDEBAR CONTENT */
aside.left-sidebar {
    flex-basis: 35%;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/* MAIN CHAT CONTENT */
.open-chat-container {
    flex-grow: 1;
    /* background: blue; */
}