<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <!-- favicon -->
    <link rel="icon" type="image/ico" href="./img/Whatsapp_37229.ico"/>
    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- icons/font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' integrity='sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==' crossorigin='anonymous'/>
    <!-- style -->
    <link rel="stylesheet" href="css/main.css">
</head>
<body class="flex-row-x-y-center">
    <div id="app" class="app-container flex">
        <!-- left sidebar -->
        <aside class="left-sidebar flex-column">
            <!-- user header -->
            <header class="user-header">
                <div class="user">
                    <div class="avatar">
                        <img src="./img/avatar_7.jpg" alt="avatar">
                    </div>
                    <div>
                        Nome Utente
                    </div>
                </div>
                <div class="menu">
                    <a href="#">
                        <i class="fas fa-circle-notch"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-comment-alt"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-ellipsis-v"></i>
                    </a>
                </div>
            </header>
            
            <!-- notification -->
            <div class="notification flex-row-y-center">
                <div class="flex-row-x-y-center">
                    <i class="fas fa-bell-slash"></i>
                </div>
                <div class="flex-column">
                    <div>Ricevi notifiche di nuovi messaggi</div>
                    <a href="#">Attiva nofiche desktop</a>
                </div>
            </div>

            <!-- section all chats -->
            <section class="all-chats">
                <!-- search -->
                <div class="search flex">
                    <button @click="search()" ><i class="fas fa-search"></i></button>
                    <input type="text" v-model.trim="keyword" @keyup="search()" placeholder="Cerca o inizia una nuova chat">
                </div>

                <!-- chats-list -->
                <ul class="chats-list">
                    <li class="user"
                    v-for="(contact, index) in filteredArray" :key="index"
                    @click="setChat(index)"
                    
                    >
                        <div class="avatar flex-row-x-y-center">
                            <img :src="`img/avatar${contact.avatar}.jpg`" 
                            :alt="`avatar di ${contact.name}`">
                            <div class="overlay flex-row-x-y-center"
                            :class="{'active' : index == indexContact}">
                                <i class="fas fa-comments"></i>
                            </div>
                        </div>
                        <div>
                            {{contact.name}}
                        </div>
                    </li>
                </ul>
            </section>
        </aside>

        <!-- main chat -->
        <main class="chat-container flex-column">
            <header class="chat-header">
                <div class="user">
                    <div class="avatar">
                        <img :src="`img/avatar${contacts[indexContact].avatar}.jpg`" 

                        :alt="`avatar di ${contacts[indexContact].name}`">
                    </div>
                    <div class="flex-column">
                        <div>{{contacts[indexContact].name}}</div>
                        <div class="last-access">ultimo accesso il {{contacts[indexContact].messages[contacts[indexContact].messages.length - 1].date}} </div>
                    </div>
                </div>
                <div class="menu">
                    <a href="#">
                        <i class="fas fa-search"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-paperclip"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-ellipsis-v"></i>
                    </a>
                </div>
            </header>

            <!-- open-chat -->
            <ul class="open-chat flex-column">
                <li class="message"
                v-for="element in contacts[indexContact].messages"
                :class="{sent : element.status == 'sent',received : element.status == 'received'}"
                >
                    {{element.message}}
                    <div class="message-details">{{element.date}}</div>
                </li> 
            </ul>

            <!-- section typing -->
            <section class="typing flex-row-y-center">
                <div>
                    <button><i class="far fa-smile"></i></button>
                </div>
                <input @keyup.enter="sentMessages(indexContact)" v-model.trim="newSentMessage" type="text" placeholder="Scrivi un messaggio">
                <div>
                    <button><i class="fas fa-microphone"></i></button>
                </div>
            </section>
        </main>
    </div>
    <!-- day js -->
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.4/dayjs.min.js"></script>
    <!-- plugin day js -->
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.4/plugin/customParseFormat.js"></script>
    <!-- js -->
    <script src="js/main.js"></script>
</body>
</html>        